* {
    margin : 0;
    font-family: 'Avenir';
}

body{
	font-family: 'Avenir';
}

button:focus {outline:0;}


.panel,
#header {

    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.panel{
    display: block;
    z-index:1;
    pointer-events:auto;
}

/* WishtList Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);


}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#wishIcon{
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 33%;
    left: 94%;

}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Main Navigation */
#header {

    background: rgba(255,255,255,0.5);


    width: 100%;
    height : 130px ;
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index:2;
}
#logoImg{

    padding-top: 10%;
    height:60px;

}


#header ul {

    opacity: 1;
    margin: 0;
}

#header ul li {
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;

	margin-left: 4%;
    margin-right: 4%;
    padding: 26px 0;
}


#header ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
}

#header ul li a:hover {

    color: #FF8D48;
    text-decoration: none;
    }

/* Landing Page*/

#mainText{
    padding-left:10%;
    margin-top: -100px;
}

#mainText h1{

    font-weight: 800;
    font-size: 64px;
    color: #fff;
}



#landing{
	margin-bottom: 10%;
}

#landingText{
    color: #FF8D48;
}

#landing h1,#landing button{
	 position: absolute;

}
#landing h1{
	top: 38%;
}
#landing button{
	top: 90%;
    background-color: #FF8D48;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.mainImg {
    margin-top: -50px;
}
/* Item Details*/

#crumbs{
    text-align : center;
}

#itemCount {
    display: none;
    position: absolute;
    top: 42%;
    left: 91%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FF8D48;
    color: white;
    text-align: center;
}

#carousel2{
    display: none;
}

/* Carousel buttons */

#carouselLeft{
    font-size: 36px;
    position: absolute;
    top: 1260px;
    left: 67px;
    background-color: #FF8D48;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    color: white;
}

#carouselRight{
    font-size: 36px;
    position: absolute;
    top: 1260px;
    left: 1300px;
    background-color: #FF8D48;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    color: white;
}


.itemContainer{
    background:#f9f9f9;
    padding-top:2%;
    padding-bottom:2%;
}

.itemTable{

	margin-left: 10%;
	margin-right: 10%;
}


#colorText{
    margin-top: 2%;
    font-weight: 200;
}

.itemBox{
    background:white;
    text-align:center;
    font-size: 12px
}

.itemBox img{
    max-width:100%;
    max-height:80%;
    object-fit: contain;
}

.itemBox h3,.itemBox button{
     position: relative;
}

#details{
    margin-top: 13%;

    margin-bottom: 5%;
}
#detailBtn{

    color: #FF8D48;
    font-size: 16px;
    margin-left: 13%;
    margin-right: 13%;
    padding: 13px 50px;
    border: 1px solid #FF8D48;
    background-color: white;
    margin-bottom: -3%;
    margin-top: 5%;
}

#addToCartBtn{
    background-color: #FF8D48;
    border: none;
    color: white;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 17px;

}

#addToWishBtn{
    background-color: white;
    border: 2px solid #FF8D48;
    color: #FF8D48;
    padding: 13px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;

}




.colorButton{
      height: 20px;
      width: 20px;
      border: none;
      border-radius: 50%;
      margin-top: 10%
}
.colorButton_s{
       height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-top: 5%

}

.detailTable{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.detailTable td{
    padding-top: .2em;
    padding-bottom: .2em;
}

.sizeButton{
    border: 2px solid #FF8D48;
    background-color: white;
    font-size: 16px;
    margin-top: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    color: #FF8D48;

}

#sizeButtons{
    display : inline-block;
    vertical-align: middle;
}

#colorButtons{
    display : inline-block;
    vertical-align: middle;
}

#Strawberry{
    background-color : #F84445;
}

#Blackberry{
    background-color : black;
}

#Crazyberry{
    background-color : #AD36FF;
}

#Camouflage{
    background-color : #2F7300;
}

#NightMoon{
    background-color : #160093;
}

#FireOrange{
    background-color : #FF5C00;
}

#infoBox{
    padding-left: 50px;
    width: 50%;
}



/* My Cart */

.cartContainer{
    background:"white";
}

#emptyCart{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display : none;
}

#cartTable{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    width : 90%;
    display : none;

}

.numberCircle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 32px;
    border: 2px solid #FF8D48;
}
.numberCircle span {
    text-align: center;
    line-height: 34px;
    font-size: 26px;
    display: block;
    color: #FF8D48;
}
#cartTable td, th{
    border-bottom: 1px solid #ddd;
}

#quantity{
    display: inline-flex;
    width: 70%;
    margin-top: 3%;
    margin-bottom: 1%;
}

#quantityNum{
    line-height: 40px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 21px;
}

#shoppingBtn {
    color: #FF8D48;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 13%;
    padding: 13px 50px;
    border: 1px solid #FF8D48;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 4%;
    display: none;
}

#checkoutBtn {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    padding: 13px 50px;
    border: 1px solid #FF8D48;
    background-color: #FF8D48;
    margin-bottom: 5%;
    color: #fff;
    margin-top: 4%;
    display: none;
}




/* My Wish List */

#wishTable{
    margin-top: 2%;
    width : 100%;
}

#wishTable td, th{
    border-bottom: 1px solid #ddd;
}

#wishListCount {
    position: fixed;
    display: none;
    top: 56px;
    right: 51px;
    z-index: 3;
    color: white;
    font-size: 14px;
}





/*Footer*/

.footer{
	clear: both;
	bottom:0;
	position:relative;
	z-index:0;

}
#rights{
    padding: 5%;
    background: #fff;
    text-align:center;
}
#subscriptionBox{
	width: 80%;
	padding-left:10%;
	padding-right:10%;
	padding-top:3%;
	padding-bottom: 3%;
    background:#d8d8d8;
	display:inline-block;
    float : left;
}


.extraInfo{
	padding-top:2%;
	padding-bottom: 2%;
	text-align:center;

	background-color:white;
	border:1px solid #d8d8d8;

}

.extraInfo ul li{
	 display: inline-block;
	list-style-type: none;
	margin-left: 2%;
	margin-right: 2%;
	padding: 26px 0;
}
.extraInfo ul li a{

    text-decoration: none;
    color: rgb(0,0,0);

}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    border: none;
    margin: 18px 0;
    box-sizing: border-box;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #FF8D48;
    border: none;
    color: white;
    padding: 13px 32px;
    text-decoration: none;

    margin: 4px 20px;
    cursor: pointer;
}